<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
</head>
<body>
<h1>Admin Portal</h1>
<ul>
    <li>
        <a href="#" th:href="@{/}">Home Page</a>
    </li>
</ul>
</body>
</html>
