<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>All registered Beers</title>
    <style>
        .table {
            display: table;
        }

        .header {
            display: table-header-group;
            font-weight: bold;
        }

        .rowGroup {
            display: table-row-group;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            width: 15%;
        }

    </style>
    <!--<link rel="stylesheet" href="styles.css">-->
</head>

<body>

<div th:if="${beersList.isEmpty()}">
    <h2 th:text="#{beersTable.header.noBeers}">No Beers (design)</h2>
</div>

<div th:unless="${beersList.isEmpty()}">
    <h2 th:text="#{beersTable.header}">Beers (design)</h2>

    <div class="table">

        <div class="header">
            <div class="cell" th:text="#{beer.ID}"> ID (design)</div>
            <div class="cell" th:text="#{beer.Name}"> Name (design)</div>
            <div class="cell" th:text="#{beer.brewery}"> Brewery (design)</div>
            <div class="cell" th:text="#{beer.Country}"> Country (design)</div>
            <div class="cell" th:text="#{beer.abv}"> ABV (design)</div>
            <div class="cell" th:text="#{beer.description}"> Description (design)</div>
            <div class="cell" th:text="#{beer.style}"> Style (design)</div>
            <div class="cell" th:text="#{beer.avgRating}"> Average Rating (design)</div>
            <!--<div class="cell" th:text="#{beer.image}"> image (design)</div>-->

        </div>

        <div class="row" th:each="beer:${beersList}">

            <div class="cell" th:text="${beer.getId()}">1 (design)</div>

            <div class="cell"><a th:text="${beer.getBeerName()}" th:href="@{/beers/{id}(id=${beer.id})}">   </a></div>

            <div class="cell" th:text="${beer.getBrewery().getName()}">Bulgaria (design)</div>

            <div class="cell" th:text="${beer.getBrewery().getOriginCountry().getOriginCountry()}">Bulgaria (design)</div>

            <div class="cell" th:text="${beer.getAlcoholByVolume()}">ABV (design)</div>

            <div class="cell" th:text="${beer.getDescription()}">Description (design)</div>

            <div class="cell" th:text="${beer.getBeerStyle().beerStyle}">Style (design)</div>

            <div class="cell" th:text="${beer.getAverageRating()}">Average Rating (design)</div>

            <!--<div class="cell" th:src="@{'data:image/png;base64,'+${beer.getImage()}}">Image (design)</img>-->

        </div>

    </div>

</div>

<br><br>
<a th:href="@{/beers/new}"> add a beer </a>
<br><br>

<a th:href="@{/beers/filter}"> filter beers </a>

</body>

</html>