<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2> Edit User </h2>
            <form th:object="${user}" method="post">
                <div class="form-group">
                    <label th:text="#{user.name}">Username</label>
                    <input type="text" class="form-control" name="username" th:field="*{username}"/>
                </div>
                <div class="form-group">
                    <label th:text="#{user.password}">Password</label>
                    <input type="text" class="form-control" th:field="*{password}"/>
                </div>

                <div class="form-group">
                    <label th:text="#{user.email}">Email</label>
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>

                <div class="form-group">
                    <label th:text="#{users.role}">Role</label>
                    <select type="text" class="form-control" name="authority">
                        <option value="ROLE_USER">USER</option>
                        <option value="ROLE_ADMIN">ADMIN</option>
                    </select>
                </div>
<!--                <form th:action="@{ediUser/{id}(id=${user.id})}" method="post">-->
<!--                    <input type="submit" value="Save"/>-->
<!--                </form>-->

                <input type="submit" class="btn btn-primary" value="Save"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>