<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Check whats on the repo</title>
    <!--<style>-->
        <!--.table {-->
            <!--display: table;-->
        <!--}-->

        <!--.header {-->
            <!--display: table-header-group;-->
            <!--font-weight: bold;-->
        <!--}-->

        <!--.rowGroup {-->
            <!--display: table-row-group;-->
        <!--}-->

        <!--.row {-->
            <!--display: table-row;-->
        <!--}-->

        <!--.cell {-->
            <!--display: table-cell;-->
            <!--width: 15%;-->
        <!--}-->

    <!--</style>-->
    <!--<link rel="stylesheet" href="styles.css">-->
</head>

<body>

<!--th:action="@{/beers/filter(style=${params.styleType},country=${params.countryType},tag=${params.tagType})}"-->

<div>

    <form  action="#" th:action="@{/beers/filter}" th:object="${params}" method="post">

        <label>
            <label > choose style:</label>
            <select th:field="*{styleType}">
                <option th:each="st : ${styles}"
                        th:value="${st.beerStyle}"
                        th:text="${st.beerStyle}">
                </option>
            </select>
        </label>
        <br/><br/>
        <label>

            <label > choose country:</label>
            <select th:field="*{countryType}">
                <option th:each="country : ${countries}"
                        th:value="${country.originCountry}"
                        th:text="${country.originCountry}">
                </option>
            </select>
        </label>
        <br/><br/>
        <label>

            <label > choose tag:</label>
            <select th:field="*{tagType}">
                <option th:each="tag : ${tags}"
                        th:value="${tag.name}"
                        th:text="${tag.name}">
                </option>
            </select>
        </label>
        <br/><br/>
        <label>

            <label > sort the list:</label>
            <select th:field="*{sortType}">
                <option th:each="soTy : ${sortList}"
                        th:value="${soTy}"
                        th:text="${soTy}">
                </option>
            </select>
        </label>
        <br/><br/>

        <input type="submit" value="Save"/>
    </form>





<!--</div>-->

<!--<div th:if="${filterBeerList.isEmpty()}">-->
    <!--<h2 th:text="#{beersTable.header.noBeers}">No Beers (design)</h2>-->
<!--</div>-->

<!--<div th:unless="${filterBeerList.isEmpty()}">-->
    <!--<h2 th:text="#{beersTable.header}">Beers (design)</h2>-->

    <!--<div class="table">-->

        <!--<div class="header">-->
            <!--<div class="cell" th:text="#{beer.ID}"> ID (design)</div>-->
            <!--<div class="cell" th:text="#{beer.Name}"> Name (design)</div>-->
            <!--<div class="cell" th:text="#{beer.brewery}"> Brewery (design)</div>-->
            <!--<div class="cell" th:text="#{beer.Country}"> Country (design)</div>-->
            <!--<div class="cell" th:text="#{beer.abv}"> ABV (design)</div>-->
            <!--<div class="cell" th:text="#{beer.description}"> Description (design)</div>-->
            <!--<div class="cell" th:text="#{beer.style}"> Style (design)</div>-->
            <!--<div class="cell" th:text="#{beer.avgRating}"> Average Rating (design)</div>-->
            <!--&lt;!&ndash;<div class="cell" th:text="#{beer.image}"> image (design)</div>&ndash;&gt;-->

        <!--</div>-->

        <!--<div class="row" th:each="beer:${filterBeerList}">-->

            <!--<div class="cell" th:text="${beer.getId()}">1 (design)</div>-->

            <!--<div class="cell"><a th:text="${beer.getBeerName()}" th:href="@{/beers/{id}(id=${beer.id})}">   </a></div>-->

            <!--<div class="cell" th:text="${beer.getBrewery().getName()}">Bulgaria (design)</div>-->

            <!--<div class="cell" th:text="${beer.getBrewery().getOriginCountry().getOriginCountry()}">Bulgaria (design)</div>-->

            <!--<div class="cell" th:text="${beer.getAlcoholByVolume()}">ABV (design)</div>-->

            <!--<div class="cell" th:text="${beer.getDescription()}">Description (design)</div>-->

            <!--<div class="cell" th:text="${beer.getBeerStyle().beerStyle}">Style (design)</div>-->

            <!--<div class="cell" th:text="${beer.getAverageRating()}">Average Rating (design)</div>-->

            <!--&lt;!&ndash;<div class="cell" th:src="@{'data:image/png;base64,'+${beer.getImage()}}">Image (design)</img>&ndash;&gt;-->

        <!--</div>-->

    <!--</div>-->

</div>





</body>

</html>