<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello joro</title>
</head>
<body>
<!--<a th:href="@{/beers/new}"> add a beer </a>-->
<!--<br><br>-->

<a th:href="@{/beers/all}"> see all beers </a>
<br><br>




<br><br>


</body>
</html>