
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Beeeeer Timeeeeee</title>
    <style>
        /*body{*/
        /*    background-image:url("images/barley.jpg")*/
        /*}*/
        header{
            background-image: url("images/alcohol-alcoholic-beverage-ale-1025113.jpg");
            background-size: cover;
            background-position: center;
            min-height: 1000px;
        }
        @media screen and (max-width: 670px) {
            header{
                min-height: 500px;
            }
        }

        .section{
            padding-top: 4vw;
            padding-bottom: 4vw;
        }
        .tabs.indicator{
            background-color:#1a237e;
        }
        .tabs.tab a:focus,.tabs.tab a:focus.active{
            background: transparent;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper " style="background-color: khaki">
<!--        <div class="container">-->
<!--            <a href="#" class="sidenav trigger" data-target= 'mobile-menu'>-->
<!--                <i class="material-icons">menu</i>-->
<!--            </a>-->
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/hello}">Beer List</a></li>
                <li> <a href="#">Beer Lovers</a></li>
                <li> <a href="#">Geniuses behind this</a></li>
                <li> <a href="http://localhost:8080/swagger-ui.html#/" th:target="blank">API</a></li>
                <li><a th:href="@{/login}" class="btn-floating btn-large waves-effect waves-light b--light-blue">
                    <i class="material-icons"></i>login</a>
                </li>
            </ul>
<!--            <ul class="sidenav grey lighten-2" id="mobile-menu">-->
<!--                <li><a th:href="@{/beers/all}">Beer List</a></li><br></br>-->
<!--                <li> <a href="#">Beer Lovers</a></li>-->
<!--                <li> <a href="#">Geniuses behind this</a></li>-->
<!--                <li> <a href="http://localhost:8080/swagger-ui.html#/" th:target="blank">API</a></li>-->
<!--                <li><a class="btn-floating btn-large waves-effect waves-light b--light-blue">-->
<!--                    <i class="material-icons">login</i></a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </nav>
</header>

<section class="container section" id ="photos">

    <div class="row">
        <div class="col s12 l4">
            <img style = "height:200px;width:500px;" src="images/history-of-beer-social.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 ">
            <h2 class="indigo-text text-darken-4" >A Brief History Of Beer</h2>
            <p>Who stole ambrosia from the gods?</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4 offset-l1 push-l7">
            <img  src="images/brewery.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1 pull-l5 right-align">
            <h2 class="indigo-text text-darken-4" ><a th:href="@{/breweries/all}">Breweries</a></h2>
            <p>Find out the most prominent breweries in the world</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4 ">
            <img src="images/a-periodic-table-of-beer-styles-christopher-williams.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="indigo-text text-darken-4" >Styles</h2>
            <p>Explore the variety of beer styles</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4 offset-l1 push-l7">
            <img src="images/awards.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1 pull-l5 right-align">
            <h2 class="indigo-text text-darken-4" >Most Rated beers</h2>
            <p>Discover the most mouthwatering beers</p>
        </div>
    </div>
</section>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="images/beerkegs.jpeg" alt="" class="responsive-img">
    </div>
</div>

<section class="section" id="cooking">
    <div class="row">
        <div class="col s12 14">
            <h2 class="indigo-text text darken-4"> What makes beer taste like beer? </h2>
        </div>
        <div class="col s12 l6 offset-l2">
            <ul class="tabs">
                <li class="tab col s4">
                    <a href="#barley" class="acive indigo-text-darken-4">Barley</a>
                </li>
                <li class="tab col s4">
                    <a href="#hops" class="acive indigo-text-darken-4">Hops</a>
                </li>
                <li class="tab col s4">
                    <a href="#yeast" class="acive indigo-text-darken-4">Yeast</a>
                </li>
            </ul>
            <div id="barley" class="col s12">
                <p class="flow-text indigo-text text-darken-4">Barley</p>
                <p>Barley is grown all over the world and it gives beer colour, flavour, aroma and body. Before it can be used, it needs to be malted or sprouted. After it’s malted, it’s heated to stop the growing process. The malt is then toasted to develop its biscuit-like character.</p>
            </div>
            <div id="hops" class="col s12">
                <p class="flow-text indigo-text text-darken-4">Hops</p>
                <p> Hops are also grown all over the world and there is a huge variety. They are notoriously fickle and growing the same hop in different regions will produce very different results. When it comes to beer, hops are pure flavour bombs. They add tons of aroma, flavour and that all-important bitter bite to contrast the sweetness of malt. </p>
            </div>
            <div id="yeast" class="col s12">
                <p class="flow-text indigo-text text-darken-4">Yeast</p>
                <p>Its primary job is to produce booze and bubbles but it also adds flavour. Fermentation produces esters, phenols as a by-product. Esters are fruity flavours like pear, peach, banana, raisin, plum and many more, while phenols are spicy or medicinal. Yeast flavours are only desirable in certain beer styles like German wheat beers or Belgian beers.   </p>
            </div>
        </div>
    </div>
</section>
<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="images/street.jpg" alt="" class="responsive-img">
    </div>
</div>

<div class="container">
    <p class="flow-text indigo-text text-darken-4 center">Lines on Ale<br></br>
        Filled with mingled cream and amber,<br></br>
        I will drain that glass again.<br></br>
        Such hilarious visions clamber<br></br>
        Through the chamber of my brain.<br></br>
        Quaintest thoughts, queerest fancies<br></br>
        Come to life and fade away.<br></br>
        What care I how time advances;<br></br>
        I am drinking ale today.<br></br>
        Edgar Allen Poe
    </p>
</div>
<!-- contact form -->

<!-- footer -->

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
    });
</script>
</body>
<footer>

    <p class="float-left">© Beer Tag, Inc. 2019</p>
</footer>
</html>