<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Beer Paradise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
</head>
<body>

<div class="flip-card" th:object="${user}">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <h5 th:text="*{username}"></h5>
           <h5 th:text="*{email}"></h5>
            <p>Beer Lover</p>
        </div>
    </div>
</div>
<p></p>
<h1>My Beer Paradise</h1>
<br>

<h3>Top 3 delicious beers </h3>
<p></p>

<div class="table">
    <div class="body-param-options">
        <div class="cell"> beer </div>
        <div class="cell"> your rating</div>
    </div>
    <div class="body-param-options">
        <div class="row" th:object="${topTreeBeers}" th:each="r: ${topTreeBeers}">
            <div class="cell" th:text="${r.getBeer().getBeerName()}" ></div>
            <div class="cell" th:text="${r.getBeerRating()}" ></div>
        </div>

    </div>
<h3>What I have drunk so far</h3>
<p></p>
    <div>
        <table>
            <tc th:each="beer: ${drankList}">
                <td th:text="${beer.getBeerName()}" />
            </tc>
        </table>
    </div>



    <!--    <form>-->
<!--        <label>-->
<!--            <select th:field="*{drankList}">-->
<!--                <option th:each="b : ${drankList}"-->
<!--                        th:value="${b.beerName}"-->
<!--                        th:text="${b.beerName}">-->
<!--                </option>-->
<!--            </select>-->
<!--        </label>-->

<!--    </form >-->


<p></p>
<p></p>

<h3>And so many left to drink</h3>
<p> my wishlist: </p>

    <form  th:if="${!wishList.isEmpty()}" action="#"
           th:action="@{/beers/removeFromWishList}" th:object="${objectToRemove}" method="post">
        <label>
            <select th:field="*{tagType}">
                <option th:each="o : ${wishList}"
                        th:value="${o.beerName}"
                        th:text="${o.beerName}">
                </option>
            </select>
        </label>
        <p>remove this one from your wishlist </p>
        <input type="submit" value="Save"/>

    </form >




</div>

</body>
</html>