<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new brewery</title>
</head>
<body>
<br/>

<h1> create new brewery form </h1>

<br/><br/>

<form action="#" th:action="@{/breweries/new}" th:object="${brewery}" method="post">

    <label th:text="#{breweries.header.firstName}"> Brewery name (design):</label>
    <label>
    <input type="text" th:field="*{name}" required/>
    </label>
    <label style="color: red" th:errors="*{name}" th:text="#{newBrewery.invalidName}"></label>
    <br/><br/>

    <label th:text="#{breweries.country}"> Brewery country(design)</label>-->
    <label>
    <select th:field="*{originCountry.originCountry}">
        <option th:each="country : ${countries}"
                th:value="${country.originCountry}"
                th:text="${country.originCountry}">
        </option>
    </select>
    </label>
    <br/><br/>
    <input type="submit" value="Save"/>

</form>




</body>
</html>