<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> create new beer</title>
</head>

<body>

<form action="#" th:action="@{/beers/new}" th:object="${beer}" method="post" enctype="multipart/form-data">

    <label th:text="#{beers.header.name}"> Beer name (design):</label>
    <label>
    <input type="text" th:field="*{beerName}" required/>
    </label>
    <label style="color: red" th:errors="*{beerName}" th:text="#{newBeer.invalidName}"></label>
    <br/><br/>


    <label th:text="#{beers.header.ABV}"> Beer ABV (design):</label>
    <label>
    <input type="text" th:field="*{alcoholByVolume}" required/>
    </label>
    <br/><br/>

    <label th:text="#{beers.header.description}"> Beer description (design):</label>
    <label>
        <input type="text" th:field="*{description}" required/>
    </label>
    <br/><br/>

    <label th:text="#{beers.header.style}" > Beer style(design)</label>
    <label>
    <select th:field="*{beerStyle.beerStyle}">
        <option th:each="st : ${styles}"
                th:value="${st.getBeerStyle()}"
                th:text="${st.getBeerStyle()}">
        </option>
    </select>
    </label>
    <br><br><br>

    <!--    <label th:for="Brewery"> Brewery (design)</label>-->
    <!--    <select th:field="*{brewery}">-->
    <!--        <option th:each="brewery : ${breweries}"-->
    <!--                th:value="${brewery.getBreweryName()}"-->
    <!--                th:text="${brewery.getBreweryName()}">-->
    <!--        </option>-->
    <!--    </select>-->


    <label th:for="Brewery"> Brewery (design)</label>
    <label>
        <select th:field="*{brewery.name}">
            <option th:each="br : ${breweries}"
                    th:value="${br.name}"
                    th:text="${br.name}">
            </option>
        </select>
    </label>
    <a th:href="@{/breweries/new}"> add a brewery </a>
    <br><br><br>


    <label>
        <input type="file" name ="file" />
        <input type="hidden" name ="MAX_FILE_SIZE" value="2000000"/>
    </label>
    <input type="submit" value="Save"/>

</form>

</body>

</html>