<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new tag</title>
</head>
<body>
<br/>

<h1> create new tag form </h1>

<br/><br/>

<form action="#" th:action="@{/tags/new}" th:object="${tag}" method="post">

    <label th:text="#{tags.header.name}"> Tag content (design):</label>
    <label>
        <input type="text" th:field="*{name}" required/>
    </label>
    <label style="color: red" th:errors="*{name}" th:text="#{newTag.invalidName}"></label>
    <br/><br/>

    <input type="submit" value="Save"/>

</form>




</body>
</html>