<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
</head>
<body>
<h2>Register Page</h2>
<p>
    <i th:if="${error != null}" th:text="${error}" class="error"/>
</p>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label>Username:</label>
    <br/>
    <input type="text" th:field="*{username}"/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <br/>
    <label> Email:</label>
    <br>
    <input type="email" th:field="*{email}"/>
    <br/>
<!--    <label th:text="#{users.role}">Role</label>-->
<!--    <select id="authority" name="authority">-->
<!--        <option value="ROLE_USER">Beer Rookie</option>-->
<!--    </select>-->
    <input type="submit" value="Register"/>
</form>
<h3>
    <a th:href="@{/login}">Login</a>
</h3>
</body>
</html>
