<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>All registered Beers</title>
    <style>
        .table {
            display: table;
        }

        .header {
            display: table-header-group;
            font-weight: bold;
        }

        .rowGroup {
            display: table-row-group;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            width: 15%;
        }

    </style>
    <!--<link rel="stylesheet" href="styles.css">-->
</head>

<br>

    <div class="table">

        <div class="header">
            <div class="cell" th:text="#{beer.ID}"> ID (design)</div>
            <div class="cell" th:text="#{beer.Name}"> Name (design)</div>
            <div class="cell" th:text="#{beer.brewery}"> Brewery (design)</div>
            <div class="cell" th:text="#{beer.Country}"> Country (design)</div>
            <div class="cell" th:text="#{beer.abv}"> ABV (design)</div>
            <div class="cell" th:text="#{beer.description}"> Description (design)</div>
            <div class="cell" th:text="#{beer.style}"> Style (design)</div>
            <div class="cell" th:text="#{beer.avgRating}"> Average Rating (design)</div>

        </div>

        <div class="row" >

            <div class="cell" th:text="${beer.getId()}">1 (design)</div>

            <div class="cell" th:text="${beer.getBeerName()}">Beer (design)  </div>

            <div class="cell" th:text="${beer.getBrewery().getName()}">Bulgaria (design)</div>

            <div class="cell" th:text="${beer.getBrewery().getOriginCountry().getOriginCountry()}">Bulgaria (design)</div>

            <div class="cell" th:text="${beer.getAlcoholByVolume()}">ABV (design)</div>

            <div class="cell" th:text="${beer.getDescription()}">Description (design)</div>

            <div class="cell" th:text="${beer.getBeerStyle().beerStyle}">Style (design)</div>

            <div class="cell" th:text="${beer.getAverageRating()}">Average Rating (design)</div>


        </div>

    </div>



<form  action="#"
      th:action="@{/beers/rateBeer/{id}(id=${beer.id})}" th:object="${virtualTag}" method="post">
    <p>rate me</p>
    <ul>
        <li th:each="number : ${ratingScale}">
            <input type="radio" th:field="*{tagType}" th:value="${number}" />
            <label  th:text="${number}"></label>
        </li>
    </ul>
    <input type="submit" value="Save"/>


    <p th:if="${!fixedRating.isEmpty()}">
        <label> You already gave this beer rating of </label>
        <label  th:text="${fixedRating.get(0).getBeerRating()}"></label>
    </p>

</form>



<!--checkbox-->
<!--<ul>-->
    <!--<li th:each="number : ${ratingScale}">-->
        <!--<input type="checkbox" th:field="*{tagType}" th:value="${virtualTag.getTagType()}" />-->
        <!--<label th:text="${number}"></label>-->

    <!--</li>-->
<!--</ul>-->



<form th:if="${wishlist.isEmpty()}" action="#" th:action="@{/beers/addBeerToWishlist/{id}(id=${beer.id})}" method="post">
    <p>add to wishlist </p>
    <input type="submit" value="Wanna drink it "/>
</form >

<form  th:if="${drankList.isEmpty()}"action="#" th:action="@{/beers/addBeerToDranklist/{id}(id=${beer.id})}" method="post">
    <p>add to dranklist </p>
    <input type="submit" value="i have drunk it"/>
</form >

<br><br>

    <div>
        <table>
            <thead>
            <h3>tags:</h3>
            </thead>
        <tc th:each="tagg: ${beer.getTags()}">
            <td th:text="${tagg.getName()}" />
        </tc>
        </table>
        <br><br><br>

        <form  th:if="${!restTags.isEmpty()}" action="#" th:action="@{/beers/{id}(id=${beer.id})}" th:object="${virtualTag}" method="post">
        <p>add a tag </p>
        <label>
            <select th:field="*{tagType}">
                <option th:each="tg : ${restTags}"
                        th:value="${tg.name}"
                        th:text="${tg.name}">
                </option>
            </select>
        </label>
            <input type="submit" value="Save"/>

        </form >

            <br><br>
        <a th:href="@{/tags/new}">create your tag</a>

        <form  th:if="${!allTags.isEmpty()}" action="#" th:action="@{/beers/deletedTags/{id}(id=${beer.id})}" th:object="${virtualTag}" method="post">
            <p>remove a tag </p>
            <label>
                <select th:field="*{tagType}">
                    <option th:each="tg : ${allTags}"
                            th:value="${tg.name}"
                            th:text="${tg.name}">
                    </option>
                </select>
            </label>
            <input type="submit" value="Save"/>

        </form >



        <div>
            <img th:src="@{'data:image/png;base64,'+${beer.getImage()}}">Image (design)</img>
        </div>


    </div>

</body>



</html>